body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:885px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1935 {
  position:absolute;
  left:20px;
  top:25px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1937 {
  position:absolute;
  left:30px;
  top:131px;
  width:860px;
  height:335px;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1940 {
  position:absolute;
  left:60px;
  top:0px;
  width:116px;
  height:30px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1942 {
  position:absolute;
  left:176px;
  top:0px;
  width:180px;
  height:30px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1944 {
  position:absolute;
  left:356px;
  top:0px;
  width:150px;
  height:30px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u1946 {
  position:absolute;
  left:506px;
  top:0px;
  width:130px;
  height:30px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u1948 {
  position:absolute;
  left:636px;
  top:0px;
  width:119px;
  height:30px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1950 {
  position:absolute;
  left:755px;
  top:0px;
  width:100px;
  height:30px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u1952 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:30px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1954 {
  position:absolute;
  left:60px;
  top:30px;
  width:116px;
  height:30px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1956 {
  position:absolute;
  left:176px;
  top:30px;
  width:180px;
  height:30px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1958 {
  position:absolute;
  left:356px;
  top:30px;
  width:150px;
  height:30px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u1960 {
  position:absolute;
  left:506px;
  top:30px;
  width:130px;
  height:30px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u1962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u1962 {
  position:absolute;
  left:636px;
  top:30px;
  width:119px;
  height:30px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1964 {
  position:absolute;
  left:755px;
  top:30px;
  width:100px;
  height:30px;
  color:#0099CC;
}
#u1965 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u1966 {
  position:absolute;
  left:0px;
  top:60px;
  width:60px;
  height:30px;
}
#u1967 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1968 {
  position:absolute;
  left:60px;
  top:60px;
  width:116px;
  height:30px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1970 {
  position:absolute;
  left:176px;
  top:60px;
  width:180px;
  height:30px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1972 {
  position:absolute;
  left:356px;
  top:60px;
  width:150px;
  height:30px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u1974 {
  position:absolute;
  left:506px;
  top:60px;
  width:130px;
  height:30px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u1976 {
  position:absolute;
  left:636px;
  top:60px;
  width:119px;
  height:30px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1978 {
  position:absolute;
  left:755px;
  top:60px;
  width:100px;
  height:30px;
  color:#0099CC;
}
#u1979 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u1980 {
  position:absolute;
  left:0px;
  top:90px;
  width:60px;
  height:30px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1982 {
  position:absolute;
  left:60px;
  top:90px;
  width:116px;
  height:30px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1984 {
  position:absolute;
  left:176px;
  top:90px;
  width:180px;
  height:30px;
}
#u1985 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1986 {
  position:absolute;
  left:356px;
  top:90px;
  width:150px;
  height:30px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u1988 {
  position:absolute;
  left:506px;
  top:90px;
  width:130px;
  height:30px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u1990 {
  position:absolute;
  left:636px;
  top:90px;
  width:119px;
  height:30px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1992 {
  position:absolute;
  left:755px;
  top:90px;
  width:100px;
  height:30px;
  color:#0099CC;
}
#u1993 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u1994 {
  position:absolute;
  left:0px;
  top:120px;
  width:60px;
  height:30px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1996 {
  position:absolute;
  left:60px;
  top:120px;
  width:116px;
  height:30px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1998 {
  position:absolute;
  left:176px;
  top:120px;
  width:180px;
  height:30px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u2000 {
  position:absolute;
  left:356px;
  top:120px;
  width:150px;
  height:30px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u2002 {
  position:absolute;
  left:506px;
  top:120px;
  width:130px;
  height:30px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u2004 {
  position:absolute;
  left:636px;
  top:120px;
  width:119px;
  height:30px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2006 {
  position:absolute;
  left:755px;
  top:120px;
  width:100px;
  height:30px;
  color:#0099CC;
}
#u2007 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2008 {
  position:absolute;
  left:0px;
  top:150px;
  width:60px;
  height:30px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u2010 {
  position:absolute;
  left:60px;
  top:150px;
  width:116px;
  height:30px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u2012 {
  position:absolute;
  left:176px;
  top:150px;
  width:180px;
  height:30px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u2014 {
  position:absolute;
  left:356px;
  top:150px;
  width:150px;
  height:30px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u2016 {
  position:absolute;
  left:506px;
  top:150px;
  width:130px;
  height:30px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u2018 {
  position:absolute;
  left:636px;
  top:150px;
  width:119px;
  height:30px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2020 {
  position:absolute;
  left:755px;
  top:150px;
  width:100px;
  height:30px;
  color:#0099CC;
}
#u2021 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2022 {
  position:absolute;
  left:0px;
  top:180px;
  width:60px;
  height:30px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u2024 {
  position:absolute;
  left:60px;
  top:180px;
  width:116px;
  height:30px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u2026 {
  position:absolute;
  left:176px;
  top:180px;
  width:180px;
  height:30px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u2028 {
  position:absolute;
  left:356px;
  top:180px;
  width:150px;
  height:30px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u2030 {
  position:absolute;
  left:506px;
  top:180px;
  width:130px;
  height:30px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u2032 {
  position:absolute;
  left:636px;
  top:180px;
  width:119px;
  height:30px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2034 {
  position:absolute;
  left:755px;
  top:180px;
  width:100px;
  height:30px;
  color:#0099CC;
}
#u2035 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2036 {
  position:absolute;
  left:0px;
  top:210px;
  width:60px;
  height:30px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u2038 {
  position:absolute;
  left:60px;
  top:210px;
  width:116px;
  height:30px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u2040 {
  position:absolute;
  left:176px;
  top:210px;
  width:180px;
  height:30px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u2042 {
  position:absolute;
  left:356px;
  top:210px;
  width:150px;
  height:30px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u2044 {
  position:absolute;
  left:506px;
  top:210px;
  width:130px;
  height:30px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u2046 {
  position:absolute;
  left:636px;
  top:210px;
  width:119px;
  height:30px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2048 {
  position:absolute;
  left:755px;
  top:210px;
  width:100px;
  height:30px;
  color:#0099CC;
}
#u2049 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2050 {
  position:absolute;
  left:0px;
  top:240px;
  width:60px;
  height:30px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u2052 {
  position:absolute;
  left:60px;
  top:240px;
  width:116px;
  height:30px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u2054 {
  position:absolute;
  left:176px;
  top:240px;
  width:180px;
  height:30px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u2056 {
  position:absolute;
  left:356px;
  top:240px;
  width:150px;
  height:30px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u2058 {
  position:absolute;
  left:506px;
  top:240px;
  width:130px;
  height:30px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u2060 {
  position:absolute;
  left:636px;
  top:240px;
  width:119px;
  height:30px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2062 {
  position:absolute;
  left:755px;
  top:240px;
  width:100px;
  height:30px;
  color:#0099CC;
}
#u2063 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2064 {
  position:absolute;
  left:0px;
  top:270px;
  width:60px;
  height:30px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u2066 {
  position:absolute;
  left:60px;
  top:270px;
  width:116px;
  height:30px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u2068 {
  position:absolute;
  left:176px;
  top:270px;
  width:180px;
  height:30px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u2070 {
  position:absolute;
  left:356px;
  top:270px;
  width:150px;
  height:30px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u2072 {
  position:absolute;
  left:506px;
  top:270px;
  width:130px;
  height:30px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u2074 {
  position:absolute;
  left:636px;
  top:270px;
  width:119px;
  height:30px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2076 {
  position:absolute;
  left:755px;
  top:270px;
  width:100px;
  height:30px;
  color:#0099CC;
}
#u2077 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u2078 {
  position:absolute;
  left:0px;
  top:300px;
  width:60px;
  height:30px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u2080 {
  position:absolute;
  left:60px;
  top:300px;
  width:116px;
  height:30px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u2082 {
  position:absolute;
  left:176px;
  top:300px;
  width:180px;
  height:30px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u2084 {
  position:absolute;
  left:356px;
  top:300px;
  width:150px;
  height:30px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u2086 {
  position:absolute;
  left:506px;
  top:300px;
  width:130px;
  height:30px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u2088 {
  position:absolute;
  left:636px;
  top:300px;
  width:119px;
  height:30px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2090 {
  position:absolute;
  left:755px;
  top:300px;
  width:100px;
  height:30px;
  color:#0099CC;
}
#u2091 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2092 {
  position:absolute;
  left:314px;
  top:82px;
  width:57px;
  height:16px;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2094 {
  position:absolute;
  left:381px;
  top:78px;
  width:157px;
  height:25px;
}
#u2094_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2095 {
  position:absolute;
  left:557px;
  top:82px;
  width:71px;
  height:16px;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2097 {
  position:absolute;
  left:628px;
  top:78px;
  width:157px;
  height:25px;
}
#u2097_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2098 {
  position:absolute;
  left:795px;
  top:78px;
  width:90px;
  height:25px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2100 {
  position:absolute;
  left:115px;
  top:543px;
  width:632px;
  height:326px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:155px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  position:absolute;
  left:147px;
  top:613px;
  width:57px;
  height:16px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2104 {
  position:absolute;
  left:147px;
  top:682px;
  width:57px;
  height:16px;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2106 {
  position:absolute;
  left:30px;
  top:82px;
  width:90px;
  height:25px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u2108 {
  position:absolute;
  left:214px;
  top:610px;
  width:180px;
  height:25px;
}
#u2108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2108_input:disabled {
  color:grayText;
}
#u2109 {
  position:absolute;
  left:214px;
  top:678px;
  width:180px;
  height:25px;
}
#u2109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2110 {
  position:absolute;
  left:455px;
  top:682px;
  width:57px;
  height:16px;
}
#u2111 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2112 {
  position:absolute;
  left:522px;
  top:678px;
  width:180px;
  height:25px;
}
#u2112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2113 {
  position:absolute;
  left:133px;
  top:756px;
  width:71px;
  height:16px;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2115 {
  position:absolute;
  left:214px;
  top:751px;
  width:180px;
  height:25px;
}
#u2115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2116 {
  position:absolute;
  left:522px;
  top:751px;
  width:180px;
  height:25px;
}
#u2116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2117 {
  position:absolute;
  left:427px;
  top:615px;
  width:85px;
  height:16px;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2119 {
  position:absolute;
  left:522px;
  top:610px;
  width:180px;
  height:25px;
}
#u2119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2119_input:disabled {
  color:grayText;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2120 {
  position:absolute;
  left:441px;
  top:756px;
  width:71px;
  height:16px;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2122 {
  position:absolute;
  left:117px;
  top:544px;
  width:629px;
  height:35px;
}
#u2123 {
  position:absolute;
  left:2px;
  top:10px;
  width:625px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2124 {
  position:absolute;
  left:321px;
  top:815px;
  width:90px;
  height:25px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u2126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2126 {
  position:absolute;
  left:455px;
  top:815px;
  width:90px;
  height:25px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2128 {
  position:absolute;
  left:127px;
  top:554px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2130 {
  position:absolute;
  left:117px;
  top:917px;
  width:632px;
  height:326px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:155px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2132 {
  position:absolute;
  left:149px;
  top:987px;
  width:57px;
  height:16px;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2134 {
  position:absolute;
  left:149px;
  top:1056px;
  width:57px;
  height:16px;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2136 {
  position:absolute;
  left:216px;
  top:984px;
  width:180px;
  height:25px;
}
#u2136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2136_input:disabled {
  color:grayText;
}
#u2137 {
  position:absolute;
  left:216px;
  top:1052px;
  width:180px;
  height:25px;
}
#u2137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2138 {
  position:absolute;
  left:457px;
  top:1056px;
  width:57px;
  height:16px;
}
#u2139 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2140 {
  position:absolute;
  left:524px;
  top:1052px;
  width:180px;
  height:25px;
}
#u2140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2141 {
  position:absolute;
  left:163px;
  top:1130px;
  width:43px;
  height:16px;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2143 {
  position:absolute;
  left:216px;
  top:1125px;
  width:180px;
  height:25px;
}
#u2143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2144 {
  position:absolute;
  left:524px;
  top:1125px;
  width:180px;
  height:25px;
}
#u2144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2145 {
  position:absolute;
  left:429px;
  top:989px;
  width:85px;
  height:16px;
}
#u2146 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2147 {
  position:absolute;
  left:524px;
  top:984px;
  width:180px;
  height:25px;
}
#u2147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2147_input:disabled {
  color:grayText;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2148 {
  position:absolute;
  left:471px;
  top:1130px;
  width:43px;
  height:16px;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2150 {
  position:absolute;
  left:119px;
  top:918px;
  width:629px;
  height:35px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:10px;
  width:625px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2152 {
  position:absolute;
  left:323px;
  top:1189px;
  width:90px;
  height:25px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2154 {
  position:absolute;
  left:457px;
  top:1189px;
  width:90px;
  height:25px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2156 {
  position:absolute;
  left:129px;
  top:928px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
